[Unit]
Description=Servidor Pinball Flask
After=network.target

[Service]
ExecStart=/home/mfb23/fliperamaif/flask/start_fliperamaif.sh
WorkingDirectory=/home/mfb23/fliperamaif/flask
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
